---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { getDictionary } from "../../i18n";

interface Props {
    lang: "fr" | "en";
}

const { lang } = Astro.props;

const t = getDictionary(lang);
---

<BaseLayout lang={lang}>
    <section class="max-w-6xl mx-auto px-6 py-20 grid md:grid-cols-2 gap-12">
        <!-- LEFT: FORM -->
        <div class="bg-white rounded-2xl p-8 shadow-sm bg-zinc-50">
            <h2 class="text-2xl font-semibold mb-2">{t.contact.form.title}</h2>
            <p class="text-sm text-zinc-600 mb-6">
            {t.contact.form.description}
            </p>

            <form action="/api/contact" method="POST" class="flex flex-col gap-4">
                <input
                    name="name"
                    type="text"
                    placeholder={t.contact.form.fields.name}
                    class="w-full px-4 py-3 rounded-lg border border-zinc-200 focus:outline-none focus:ring-2 focus:ring-[#ffc47d]"
                />
                <input
                    name="email"
                    type="email"
                    placeholder={t.contact.form.fields.email}
                    class="w-full px-4 py-3 rounded-lg border border-zinc-200 focus:outline-none focus:ring-2 focus:ring-[#ffc47d]"
                />
                <input
                    name="phone"
                    type="tel"
                    placeholder={t.contact.form.fields.phone}
                    class="w-full px-4 py-3 rounded-lg border border-zinc-200 focus:outline-none focus:ring-2 focus:ring-[#ffc47d]"
                />
                <input
                    name="subject"
                    type="text"
                    placeholder={t.contact.form.fields.subject}
                    class="w-full px-4 py-3 rounded-lg border border-zinc-200 focus:outline-none focus:ring-2 focus:ring-[#ffc47d]"
                
                />
                <textarea
                    name="message"
                    rows="5"
                    placeholder={t.contact.form.fields.message}
                    class="w-full px-4 py-3 rounded-lg border border-zinc-200 focus:outline-none focus:ring-2 focus:ring-[#ffc47d]"
                ></textarea>
                <button
                    type="submit"
                    class="mt-2 bg-[#ffc001] text-white font-medium py-3 rounded-lg hover:bg-[#ff9933] transition"
                >
                    {t.contact.form.button}
                </button>
                <p class="text-xs text-zinc-500 mt-2">
                    {t.contact.form.confidentiality}
                </p>
            </form>
        </div>

        <!-- RIGHT: MAP + INFO -->
        <div class="flex flex-col gap-6">

            <div class="bg-zinc-50 rounded-2xl overflow-hidden shadow-sm">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1129182.743002559!2d-0.2963802899918518!3d43.2645590802363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a9a85315d121b1%3A0x406f69c2f3d8850!2s65230%20Betb%C3%A8ze%2C%20France!5e0!3m2!1sfr!2sno!4v1784142527108!5m2!1sfr!2sno"
                    width="100%"
                    height="320"
                    style="border:0;"
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                </div>

                <div class="bg-zinc-50 rounded-2xl p-6 shadow-sm">
                <h3 class="font-semibold mb-2">{t.contact.location.title}</h3>
                <p class="text-sm text-zinc-600">
                    {t.contact.location.address[0]}<br />
                    {t.contact.location.address[1]}
                </p>

                <div class="mt-4 text-sm">
                    <p class="font-medium">{t.contact.hours.title}</p>
                    <p class="text-zinc-600">{t.contact.hours.schedule}</p>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>