---
import "../styles/style.css";
import "../styles/paws.css";
import Header from "../components/Header.astro";

interface Props {
  lang: "fr" | "en";
  title: string;
  description: string;
}

const { lang, title, description } = Astro.props as Props;
const site = "https://iotao.fr";
const canonical = new URL(Astro.url.pathname, site).toString();
const schema = {
  "@context": "https://schema.org",
  "@type": "VeterinaryCare",
  "name": "Iotao",
  "url": site,
  "logo": `${site}/images/ioato.png`,
  "description": description,

  "founder": {
    "@type": "Person",
    "name": "Dr. Frédérique Clusel",
    "jobTitle": "Docteur vétérinaire",
    "knowsAbout": [
      "Médecine manuelle vétérinaire",
      "Ostéopathie vétérinaire",
      "Santé animale",
      "Nutrition animale"
    ]
  },

  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Betbèze",
    "addressRegion": "Hautes-Pyrénées",
    "addressCountry": "FR"
  }
};
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ostéopathe animale à Betbèze (65)</title>
    <script>import "../scripts/sectionPaws.js";</script>
    <script type="application/ld+json" set:html={JSON.stringify(schema)}></script>

    <title>{title}</title>

    <meta name="description" content={description} />

    <link rel="canonical" href={canonical} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonical} />
    <meta property="og:image" content={`${site}/images/og-image.jpg`} />
  </head>

  <body class="bg-[#ff9933] text-[#2b2118] antialiased">
    <Header lang={lang} />
    <slot/>
  </body>
</html>